@use "./_mixins.scss" as *;
@use "tailwindcss";

@theme {
  --color-dark-navy: #020c1b;
  --color-navy: #0a192f;
  --color-light-navy: #112240;
  --color-lightest-navy: #233554;
  --color-dark-slate: #495670;
  --color-brand-primary: #c084fc;
  --color-brand-secondary: #deb0ff;
  --color-slate: #8892b0;
  --color-light-slate: #a8b2d1;
  --color-lightest-slate: #ccd6f6;

  --height-navbar: 100px;
  --height-navbar-scroll: 70px;
  --tab-width: 170px;
  --tab-max-width: 170px;
  --tab-height: 42px;
  --hamburger-width: 30px;

  --breakpoint-tiny: 26.875rem;
  --ease-custom: cubic-bezier(0.645, 0.045, 0.355, 1);
  --font-fira: "Fira Code", "Fira Code Fallback";
}

html {
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark-slate) var(--color-navy);
  counter-reset: section;
}

section {
  counter-increment: section 1;

  &.no-count {
    counter-increment: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

body {
  background: var(--color-navy);
  font-family: var(--font-inter);
  color: var(--color-lightest-slate);
  box-sizing: border-box;
}

body.overlay {
  overflow: hidden !important;
}

body.overlay #content > * {
  filter: blur(5px) brightness(0.7);
  transition: all 0.25s var(--ease-custom);
  pointer-events: none;
  user-select: none;
}

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--color-navy);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-slate);
  border: 3px solid var(--color-navy);
  border-radius: 10px;
}

.logo {
  display: inline-block;
  width: 100px;
  height: 100%;
  color: var(--color-brand-primary);

  img {
    width: 100%;
    height: 100%;
  }
}

.burger-transition {
  position: absolute;
  top: 50%;
  right: 0px;
  width: var(--hamburger-width);
  height: 2px;
  border-radius: 4px;
  background-color: var(--color-brand-primary);
  transition-duration: 0.22s;
  transition-property: transform;
  transition-delay: 0s;
  transform: rotate(0deg);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0;
    width: var(--hamburger-width);
    height: 2px;
    border-radius: 4px;
    background-color: var(--color-brand-primary);
    transition: transform 0.15s ease;
  }

  &::before {
    top: -10px;
    width: 120%;
    opacity: 1;
    transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  }
  &::after {
    bottom: -10px;
    width: 80%;
    transition: bottom 0.1s ease-in 0.25s,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  &.active {
    transition-delay: 0.12s;
    transform: rotate(225deg);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    &::before {
      top: 0;
      width: 120%;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    }
    &::after {
      bottom: 0;
      width: 100%;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out,
        transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    }
  }
}

.numbered-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0 40px 0;
  font-size: 24px;
  font-weight: bold;
  color: var(--color-lightest-slate);
  white-space: nowrap;

  &::before {
    position: relative;
    bottom: -3px;
    margin-right: 5px;
    content: "0" counter(section) ".";
    color: var(--color-brand-primary);
    font-size: 18px;
    font-family: var(--font-fira);
    font-weight: 400;
    z-index: 1;
  }

  &::after {
    content: "";
    position: relative;
    top: 2px;
    margin-left: 10px;
    width: 100%;
    display: block;
    height: 1px;
    background-color: var(--color-lightest-navy);
  }

  @include tablet {
    font-size: 28px;
    &::before {
      margin-right: 10px;
      font-size: 20px;
    }
    &::after {
      width: 200px;
    }
  }

  .overline {
    color: var(--color-brand-primary);
    font-size: 16px;
  }

  @media (max-width: 340px) {
    font-size: 20px;
  }
}

.avatar-wrapper {
  @apply relative rounded-lg bg-brand-secondary transition-all duration-220 ease-custom  cursor-pointer z-3;

  &:hover,
  &focus {
    transform: translate(-4px, -4px);
  }
  img {
    position: relative;
    border-radius: 8px;
    filter: grayscale(100%) contrast(1);
    mix-blend-mode: multiply;

    &:hover,
    &:focus {
      filter: none;
      mix-blend-mode: normal;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    border: 2px solid var(--color-brand-secondary);
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all 220ms var(--ease-custom);
  }

  &:hover::after,
  &focus::after {
    transform: translate(8px, 8px);
  }
}

.skill-list {
  @media (max-width: 440px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .skill-box {
      justify-content: center;
      padding: 8px;
    }
  }

  @media (max-width: 340px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-image {
  grid-row: 1 / -1;

  & > a {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-navy);
      mix-blend-mode: screen;
      z-index: 3;
    }
    &:hover {
      &::before,
      .image-wrapper {
        filter: none;
        mix-blend-mode: normal;
        background: transparent;
        outline: 0;
      }
    }
  }
  .image-wrapper {
    height: 100%;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(50%);
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

    @include tablet {
      filter: grayscale(100%) contrast(1) brightness(90%);
    }
  }
}
.project-links {
  margin-left: -10px;
  a {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
      color: var(--color-brand-primary);
    }
  }
  svg {
    width: 20px;
    height: 20px;
  }
}

.project-content {
  grid-row: 1 / -1;
  z-index: 5;
  @include desktop {
    z-index: unset;
  }
}

.video-thumbnail {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-navy);
    mix-blend-mode: screen;
    z-index: 3;
  }
  img {
    position: relative;
    border-radius: 5px;
    filter: grayscale(100%) contrast(1);
    mix-blend-mode: multiply;
  }

  &:hover {
    img {
      filter: none;
      mix-blend-mode: normal;
    }
  }
}

.icon {
  svg {
    width: 20px;
    height: 20px;
  }
  &.hover {
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
      svg {
        stroke: var(--color-brand-primary);
      }
    }
  }
  &.icon-copy svg {
    width: 28px;
    height: 28px;
  }
}

.form {
  &-label {
    margin-bottom: 8px;
    font-size: 14px;
    font-family: var(--font-fira);
    color: var(--color-lightest-slate);
  }
  &-input {
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 4px;
    font-family: var(--font-fira);
    font-size: 14px;
    background-color: #112240;
    height: 42px;
    &.text-area {
      height: 62px;
    }
  }
}
.button {
  cursor: pointer;
  display: inline-block;
  color: var(--color-brand-primary);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 14px;
  font-weight: 400;
  outline: none;
  border: 1px solid var(--color-brand-primary);
  border-radius: 4px;
  &:hover {
    transform: translate(-4px, -4px);
    box-shadow: 3px 3px 0px 0px #d8b4fe;
  }

  &:disabled {
    background-color: #334155;
    pointer-events: none;
    border-color: #334155;
    color: var(--color-lightest-slate);
  }
  &.submitting:disabled {
    color: var(--color-brand-primary);
    border: 1px solid var(--color-brand-primary);
    background: transparent;
  }
}

.footer {
  ul.social-media {
    a {
      display: inline-block;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      color: var(--color-light-slate);
      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        svg {
          color: var(--color-brand-primary);
        }
      }
    }
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.toast-enter {
  animation: slideInRight 0.4s ease forwards;
}
